In [1]:
import pandas as pd

# Results

In [6]:
df_results=pd.read_csv('Results.csv')
df_results.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard
0,Gujarat Titans,Chennai Super Kings,Gujarat Titans,5 wickets,Ahmedabad,"Mar 31, 2023",T20
1,Punjab Kings,Kolkata Knight Riders,Punjab Kings,7 runs,Mohali,"Apr 1, 2023",T20
2,Lucknow Super Giants,Delhi Capitals,Lucknow Super Giants,50 runs,Lucknow,"Apr 1, 2023",T20
3,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,72 runs,Hyderabad,"Apr 2, 2023",T20
4,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,8 wickets,Bengaluru,"Apr 2, 2023",T20

In [22]:
df_results['match']=df_results['Team 1'] + ' vs ' + df_results['Team 2']
df_results.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard,match
0,Gujarat Titans,Chennai Super Kings,Gujarat Titans,5 wickets,Ahmedabad,"Mar 31, 2023",T20,Gujarat Titans vs Chennai Super Kings
1,Punjab Kings,Kolkata Knight Riders,Punjab Kings,7 runs,Mohali,"Apr 1, 2023",T20,Punjab Kings vs Kolkata Knight Riders
2,Lucknow Super Giants,Delhi Capitals,Lucknow Super Giants,50 runs,Lucknow,"Apr 1, 2023",T20,Lucknow Super Giants vs Delhi Capitals
3,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,72 runs,Hyderabad,"Apr 2, 2023",T20,Sunrisers Hyderabad vs Rajasthan Royals
4,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,8 wickets,Bengaluru,"Apr 2, 2023",T20,Royal Challengers Bangalore vs Mumbai Indians

In [26]:
df_results['match_id']=''
for index, row in df_results.iterrows():
    df_results.at[index, 'match_id'] = index + 1
    
df_results.head()

,Team 1,Team 2,Winner,Margin,Ground,Match Date,Scorecard,match,match_id
0,Gujarat Titans,Chennai Super Kings,Gujarat Titans,5 wickets,Ahmedabad,"Mar 31, 2023",T20,Gujarat Titans vs Chennai Super Kings,1
1,Punjab Kings,Kolkata Knight Riders,Punjab Kings,7 runs,Mohali,"Apr 1, 2023",T20,Punjab Kings vs Kolkata Knight Riders,2
2,Lucknow Super Giants,Delhi Capitals,Lucknow Super Giants,50 runs,Lucknow,"Apr 1, 2023",T20,Lucknow Super Giants vs Delhi Capitals,3
3,Sunrisers Hyderabad,Rajasthan Royals,Rajasthan Royals,72 runs,Hyderabad,"Apr 2, 2023",T20,Sunrisers Hyderabad vs Rajasthan Royals,4
4,Royal Challengers Bangalore,Mumbai Indians,Royal Challengers Bangalore,8 wickets,Bengaluru,"Apr 2, 2023",T20,Royal Challengers Bangalore vs Mumbai Indians,5

In [28]:
df_new_results=df_results
df_new_results.drop(columns=['Scorecard', 'Team 1', 'Team 2'], inplace=True)
df_new_results.head()

,Winner,Margin,Ground,Match Date,match,match_id
0,Gujarat Titans,5 wickets,Ahmedabad,"Mar 31, 2023",Gujarat Titans vs Chennai Super Kings,1
1,Punjab Kings,7 runs,Mohali,"Apr 1, 2023",Punjab Kings vs Kolkata Knight Riders,2
2,Lucknow Super Giants,50 runs,Lucknow,"Apr 1, 2023",Lucknow Super Giants vs Delhi Capitals,3
3,Rajasthan Royals,72 runs,Hyderabad,"Apr 2, 2023",Sunrisers Hyderabad vs Rajasthan Royals,4
4,Royal Challengers Bangalore,8 wickets,Bengaluru,"Apr 2, 2023",Royal Challengers Bangalore vs Mumbai Indians,5

In [31]:
df_new_results.shape

(70, 6)

In [38]:
df_new_results.to_csv('results_updated.csv')

#  For Batting

In [11]:
df_batting= pd.read_csv('batting_summary.csv',encoding='windows-1254')
df_batting.head()

,match_no,Batsman,team,Run,Ball,4s,6s,out_by
0,1,Devon Conway,Chennai Super Kings,1,6,0,0,Mohammed Shami
1,1,Ruturaj Gaikwad,Chennai Super Kings,92,50,4,9,Alzarri Joseph
2,1,Moeen Ali,Chennai Super Kings,23,17,4,1,Rashid Khan
3,1,Ben Stokes,Chennai Super Kings,7,6,1,0,Rashid Khan
4,1,Ambati Rayudu,Chennai Super Kings,12,12,0,1,Joshua Little

In [12]:
df_batting['SR']=(df_batting['Run']/df_batting['Ball'])*100
df_batting.head()

,match_no,Batsman,team,Run,Ball,4s,6s,out_by,SR
0,1,Devon Conway,Chennai Super Kings,1,6,0,0,Mohammed Shami,16.666667
1,1,Ruturaj Gaikwad,Chennai Super Kings,92,50,4,9,Alzarri Joseph,184.000000
2,1,Moeen Ali,Chennai Super Kings,23,17,4,1,Rashid Khan,135.294118
3,1,Ben Stokes,Chennai Super Kings,7,6,1,0,Rashid Khan,116.666667
4,1,Ambati Rayudu,Chennai Super Kings,12,12,0,1,Joshua Little,100.000000

In [16]:
df_batting['SR']=df_batting['SR'].round(2)
df_batting.head(10)

,match_no,Batsman,team,Run,Ball,4s,6s,out_by,SR
0,1,Devon Conway,Chennai Super Kings,1,6,0,0,Mohammed Shami,16.67
1,1,Ruturaj Gaikwad,Chennai Super Kings,92,50,4,9,Alzarri Joseph,184.00
2,1,Moeen Ali,Chennai Super Kings,23,17,4,1,Rashid Khan,135.29
3,1,Ben Stokes,Chennai Super Kings,7,6,1,0,Rashid Khan,116.67
4,1,Ambati Rayudu,Chennai Super Kings,12,12,0,1,Joshua Little,100.00
5,1,Shivam Dube,Chennai Super Kings,19,18,0,1,Mohammed Shami,105.56
6,1,Ravindra Jadeja,Chennai Super Kings,1,2,0,0,Alzarri Joseph,50.00
7,1,MS Dhoni,Chennai Super Kings,14,7,1,1,Not Out,200.00
8,1,Mitchell Santner,Chennai Super Kings,1,3,0,0,Not Out,33.33
9,1,Wriddhiman Saha,Gujarat Titans,25,16,2,2,Rajvardhan Hangargekar,156.25

In [17]:
new_batting=df_batting
new_batting.head()

,match_no,Batsman,team,Run,Ball,4s,6s,out_by,SR
0,1,Devon Conway,Chennai Super Kings,1,6,0,0,Mohammed Shami,16.67
1,1,Ruturaj Gaikwad,Chennai Super Kings,92,50,4,9,Alzarri Joseph,184.00
2,1,Moeen Ali,Chennai Super Kings,23,17,4,1,Rashid Khan,135.29
3,1,Ben Stokes,Chennai Super Kings,7,6,1,0,Rashid Khan,116.67
4,1,Ambati Rayudu,Chennai Super Kings,12,12,0,1,Joshua Little,100.00

In [20]:
new_batting['out/not_out']=new_batting.out_by.apply(lambda x: 'not_out' if 'Not Out' in x else 'out')
new_batting.head(11)

,match_no,Batsman,team,Run,Ball,4s,6s,out_by,SR,out/not_out
0,1,Devon Conway,Chennai Super Kings,1,6,0,0,Mohammed Shami,16.67,out
1,1,Ruturaj Gaikwad,Chennai Super Kings,92,50,4,9,Alzarri Joseph,184.00,out
2,1,Moeen Ali,Chennai Super Kings,23,17,4,1,Rashid Khan,135.29,out
3,1,Ben Stokes,Chennai Super Kings,7,6,1,0,Rashid Khan,116.67,out
4,1,Ambati Rayudu,Chennai Super Kings,12,12,0,1,Joshua Little,100.00,out
5,1,Shivam Dube,Chennai Super Kings,19,18,0,1,Mohammed Shami,105.56,out
6,1,Ravindra Jadeja,Chennai Super Kings,1,2,0,0,Alzarri Joseph,50.00,out
7,1,MS Dhoni,Chennai Super Kings,14,7,1,1,Not Out,200.00,not_out
8,1,Mitchell Santner,Chennai Super Kings,1,3,0,0,Not Out,33.33,not_out
9,1,Wriddhiman Saha,Gujarat Titans,25,16,2,2,Rajvardhan Hangargekar,156.25,out
10,1,Shubman Gill,Gujarat Titans,63,36,6,3,Tushar Deshpande,175.00,out

In [23]:
new_batting.drop(columns='out_by',inplace=True)
new_batting.head()

,match_no,Batsman,team,Run,Ball,4s,6s,SR,out/not_out
0,1,Devon Conway,Chennai Super Kings,1,6,0,0,16.67,out
1,1,Ruturaj Gaikwad,Chennai Super Kings,92,50,4,9,184.00,out
2,1,Moeen Ali,Chennai Super Kings,23,17,4,1,135.29,out
3,1,Ben Stokes,Chennai Super Kings,7,6,1,0,116.67,out
4,1,Ambati Rayudu,Chennai Super Kings,12,12,0,1,100.00,out

In [24]:
new_batting.isnull().sum()

match_no        0
Batsman         0
team            0
Run             0
Ball            0
4s              0
6s              0
SR             11
out/not_out     0
dtype: int64

In [33]:
new_batting.rename(columns={'match_no': 'match_id'},inplace=True)
new_batting.head()

,match_id,Batsman,team,Run,Ball,4s,6s,SR,out/not_out
0,1,Devon Conway,Chennai Super Kings,1,6,0,0,16.67,out
1,1,Ruturaj Gaikwad,Chennai Super Kings,92,50,4,9,184.00,out
2,1,Moeen Ali,Chennai Super Kings,23,17,4,1,135.29,out
3,1,Ben Stokes,Chennai Super Kings,7,6,1,0,116.67,out
4,1,Ambati Rayudu,Chennai Super Kings,12,12,0,1,100.00,out

In [39]:
new_batting.head(20)
new_batting.to_csv('batting_updated.csv')

# Bowling

In [35]:
df_bowling=pd.read_csv('bowling_summary.csv')
df_bowling.head(10)

,match_no,Bowler,team,over,run,wicket,No_ball,ECO
0,1,Mohammed Shami,Gujarat Titans,4.0,29,2,1,7.3
1,1,Hardik Pandya,Gujarat Titans,3.0,28,0,0,9.3
2,1,Joshua Little,Gujarat Titans,4.0,41,1,0,10.3
3,1,Rashid Khan,Gujarat Titans,4.0,26,2,0,6.5
4,1,Alzarri Joseph,Gujarat Titans,4.0,33,2,0,8.3
5,1,Yash Dayal,Gujarat Titans,1.0,14,0,0,14.0
6,1,Deepak Chahar,Chennai Super Kings,4.0,29,0,0,7.3
7,1,Tushar Deshpande,Chennai Super Kings,3.2,51,1,1,15.9
8,1,Rajvardhan Hangargekar,Chennai Super Kings,4.0,36,3,1,9.0
9,1,Mitchell Santner,Chennai Super Kings,4.0,32,0,0,8.0

In [36]:
df_bowling.rename(columns={'match_no': 'match_id'},inplace=True)
df_bowling.head(10)

,match_id,Bowler,team,over,run,wicket,No_ball,ECO
0,1,Mohammed Shami,Gujarat Titans,4.0,29,2,1,7.3
1,1,Hardik Pandya,Gujarat Titans,3.0,28,0,0,9.3
2,1,Joshua Little,Gujarat Titans,4.0,41,1,0,10.3
3,1,Rashid Khan,Gujarat Titans,4.0,26,2,0,6.5
4,1,Alzarri Joseph,Gujarat Titans,4.0,33,2,0,8.3
5,1,Yash Dayal,Gujarat Titans,1.0,14,0,0,14.0
6,1,Deepak Chahar,Chennai Super Kings,4.0,29,0,0,7.3
7,1,Tushar Deshpande,Chennai Super Kings,3.2,51,1,1,15.9
8,1,Rajvardhan Hangargekar,Chennai Super Kings,4.0,36,3,1,9.0
9,1,Mitchell Santner,Chennai Super Kings,4.0,32,0,0,8.0

In [37]:
df_bowling.head(20)

,match_id,Bowler,team,over,run,wicket,No_ball,ECO
0,1,Mohammed Shami,Gujarat Titans,4.0,29,2,1,7.3
1,1,Hardik Pandya,Gujarat Titans,3.0,28,0,0,9.3
2,1,Joshua Little,Gujarat Titans,4.0,41,1,0,10.3
3,1,Rashid Khan,Gujarat Titans,4.0,26,2,0,6.5
4,1,Alzarri Joseph,Gujarat Titans,4.0,33,2,0,8.3
5,1,Yash Dayal,Gujarat Titans,1.0,14,0,0,14.0
6,1,Deepak Chahar,Chennai Super Kings,4.0,29,0,0,7.3
7,1,Tushar Deshpande,Chennai Super Kings,3.2,51,1,1,15.9
8,1,Rajvardhan Hangargekar,Chennai Super Kings,4.0,36,3,1,9.0
9,1,Mitchell Santner,Chennai Super Kings,4.0,32,0,0,8.0
10,1,Ravindra Jadeja,Chennai Super Kings,4.0,28,1,0,7.0
11,2,Umesh Yadav,Kolkata Knight Riders,4.0,27,1,0,6.8
12,2,Tim Southee,Kolkata Knight Riders,4.0,54,2,0,13.5
13,2,Sunil Narine,Kolkata Knight Riders,4.0,40,1,0,10.0
14,2,Varun Chakaravarthy,Kolkata Knight Riders,4.0,26,1,0,6.5
15,2,Shardul Thakur,Kolkata Knight Riders,4.0,43,0,1,10.8
16,2,Sam Curran,Punjab Kings,3.0,38,1,0,12.7
17,2,Arshdeep Singh,Punjab Kings,3.0,19,3,0,6.3
18,2,Nathan Ellis,Punjab Kings,3.0,27,1,2,9.0
19,2,Sikandar Raza,Punjab Kings,3.0,25,1,0,8.3

In [40]:
df_bowling.to_csv('bowling_updated.csv')

In [41]:
df_players=pd.read_csv('IPL_Data.csv')
df_players.head()

,Name,Team,Url,Type,ValueinCR,Full Name,Born,Age,National Side,Batting Style,...,Maidens,RunsConceded,Wickets,Best,3s,5s,BowlingAVG,EconomyRate,S/R,Mtc
0,Mayank Agarwal,PBKS,https://sports.ndtv.com/cricket/players/1430-m...,Batsman,12.00,Mayank Anurag Agarwal,"February 16, 1991 Bangalore, Karnataka","31 Years, 0 Months, 28 Days",India,Right Handed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Liam Livingstone,PBKS,https://sports.ndtv.com/cricket/players/64363-...,All-Rounder,11.50,Liam Stephen Livingstone,"August 4, 1993 Barrow-in-Furness, Cumberland","28 Years, 7 Months, 11 Days",England,Right Handed,...,0.0,13.0,0.0,0/13 v MI,0.0,0.0,NaN,13.00,NaN,1.0
2,Kagiso Rabada,PBKS,https://sports.ndtv.com/cricket/players/64042-...,Bowler,9.25,Kagiso Rabada,"May 25, 1995 Johannesburg","26 Years, 9 Months, 22 Days",South Africa,Left Handed,...,2.0,1560.0,76.0,4/21 v RCB,4.0,0.0,20.52,8.21,15.0,50.0
3,Shahrukh Khan,PBKS,https://sports.ndtv.com/cricket/players/113433...,All-Rounder,9.00,Masood Shahrukh Khan,"May 27, 1995 Chennai, Tamil Nadu","26 Years, 9 Months, 20 Days",India,Right Handed,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Shikhar Dhawan,PBKS,https://sports.ndtv.com/cricket/players/737-sh...,Batsman,8.25,Shikhar Dhawan,"December 5, 1985 Delhi","36 Years, 3 Months, 10 Days",India,Left Handed,...,0.0,66.0,4.0,1/7 v DC,0.0,0.0,16.50,8.25,12.0,6.0

In [42]:
df_new_players=df_players[['Name','Type','Batting Style','Bowling','National Side']]
df_new_players.head()

               Name          Type Batting Style         Bowling National Side
0    Mayank Agarwal      Batsman   Right Handed       Off break         India
1  Liam Livingstone  All-Rounder   Right Handed       Leg break       England
2     Kagiso Rabada       Bowler    Left Handed  Right-arm fast  South Africa
3     Shahrukh Khan  All-Rounder   Right Handed       Off break         India
4    Shikhar Dhawan      Batsman    Left Handed       Off break         India

In [44]:
df_new_players.shape

(237, 5)

In [43]:
df_new_players.to_csv('players_updated.csv')

In [5]:
df_players_updated=pd.read_csv('IPL2023 Data (1).csv')
df_players_updated

                  Player                   Role  Price Team  Unnamed: 4
0               MS Dhoni  Batsman/Wicket-keeper  12.00  CSK         NaN
1           Devon Conway                Batsman   1.00  CSK         NaN
2        Ruturaj Gaikwad                Batsman   6.00  CSK         NaN
3          Ambati Rayudu  Batsman/Wicket-keeper   6.75  CSK         NaN
4    Subhranshu Senapati                Batsmen   0.20  CSK         NaN
..                   ...                    ...    ...  ...         ...
237  Upendra Singh Yadav          Wicket-keeper   0.25  SRH         NaN
238         Mayank Dagar                 Bowler   1.80  SRH         NaN
239   Nitish Kumar Reddy            All-Rounder   0.20  SRH         NaN
240         Akeal Hosein                 Bowler   1.00  SRH         NaN
241     Anmolpreet Singh                Batsman   0.20  SRH         NaN

[242 rows x 5 columns]

In [6]:
df_players_updated.drop(columns='Unnamed: 4',inplace=True)
df_players_updated.head()

                Player                   Role  Price Team
0             MS Dhoni  Batsman/Wicket-keeper  12.00  CSK
1         Devon Conway                Batsman   1.00  CSK
2      Ruturaj Gaikwad                Batsman   6.00  CSK
3        Ambati Rayudu  Batsman/Wicket-keeper   6.75  CSK
4  Subhranshu Senapati                Batsmen   0.20  CSK

In [7]:
df_players_updated.to_csv('players_2023.csv')